<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base :: head" >
    <meta charset="UTF-8" />
    <title>Linkedin</title>
</head>
<body>
<img src="http://www.fas.nus.edu.sg/ssr/images/eventsBanner.jpg" width="100%"/>
<nav th:replace="base :: nav"></nav>
<div class="wrapper">
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome <span sec:authentication="name"></span> to Linkedin</h1>
            <p><a class="btn btn-primary btn-lg" href="/create" role="button">Resume Builder</a></p>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Job Title</th>
            </tr>
            </thead>
            <th:block th:if="${myjobs!=null}">
                <tr th:each="job: ${myjobs}">
                    <td>hi</td>
                    <td th:text="${{job.employer}}"></td>
                </tr>
            </th:block>
        </table>

</div>
</div>
</body>
</html>