<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.w3.org/1999/xhtml">
<head th:replace="base :: head" >
    <meta charset="UTF-8" />
    <title>Linkedin</title>
</head>

<body>
<nav th:replace="base :: nav"></nav>
<div class="container">
    <div class="page-header">
        <h1>Jobs <small>linkedin</small></h1>
    </div>

    <table class="table table-striped">
        <tr>
            <th>Job Title</th>
            <th>Salary</th>
            <th>Employer</th>
            <th>Description</th>
            <th>Skills</th>
        </tr>
        <tr th:each="postings: ${job}">
            <td th:text="${postings.title}"></td>
            <td th:text="${postings.salary}"></td>
            <td th:text="${postings.employer}"></td>
            <td th:text="${postings.description}"></td>
            <td th:text="${postings.skill}"></td>
        </tr>
    </table>

</div>
</body>

</body>
</html>